* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

li,
a,
button {
    font-size: 16px;
    font-weight: 500;
    color: #edf0f1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}

.text-logo {
    font-size: 28px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo {
    height: 32px;
    padding: 0 10px;
}

.nav-bar li {
    display: inline-block;
    padding: 0 20px;
}

.nav-bar li a {
    transition: all 0.3s ease 0s;
}

.nav-bar li a:hover {
    color: #646DFE;
}

.cta button {
    border: none;
    border-radius: 50px;
    background-color: #646DFE;
    padding: 9px 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta button:hover {
    background: #7a82f3;
}

.burger-icon,
.burger-menu {
    display: none;
}


/* Media query para mostrar el navbar o no */
@media screen and (max-width: 870px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 5%;
    }

    .burger-menu {
        display: block;
        width: 6%;
        cursor: pointer;
    }

    .nav-bar.open {
        height: 450px;
        display: block;
        text-align: center;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #242424;
        transition: 0.2s;
        -webkit-box-shadow: 2px -3px 1px 0px #646DFE;
    }

    .nav-bar.open li {
        display: block;
        width: fit-content;
        margin: 50px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        font-size: 35px;
    }

    .nav-bar {
        display: none;
    }

    .cta button {
        display: none;
    }
}